/data/embeddings
/data/bpd-files
src/data-exploration/api-outputs
src/data-exploration/.env
data/processed/bpd_data_processed.csv
src/data-exploration/bpd-weather-enriched.csv
src/data-exploration/Interactive-1.ipynb
src/data-exploration/weather-data-request-preparation-Copy1.py
src/data-exploration/weather-data-request-preparation-Copy2.py
src/data-exploration/weather-data-request-preparation-Copy3.py
src/data-exploration/weather-data-request-preparation-Copy4.py
*.aux
*.log
*.bbl
*.acr
*.acn
*.alg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.glsdefs
*.ist
*.eps
*.bbl-SAVE-ERROR